<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="page-title" tr>{{ title }}</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/{{ css }}">
    {% if extra_css %}<link rel="stylesheet" href="/css/{{ extra_css }}">{% endif %}
    {% block head_inline %}{% endblock %}
    <script src="/js/i18n.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/sticky-notice.js"></script>
    {% if marked %}<script src="/js/marked.min.js"></script>{% endif %}
    {% if qrcode %}<script src="/js/qrcode.min.js"></script>{% endif %}
    {% if chart %}<script src="/js/chart.umd.min.js"></script>{% endif %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

<script src="/js/{{ js }}"></script>
{% block foot_scripts %}{% endblock %}

</html>
